/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea/workspace.xml
.idea/php.xml
.idea/vcs.xml
.idea/blade.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/eslint.xml
.idea/laravel-idea.xml
.idea/prettier.xml
.idea/dataSources/04e5db29-ab61-4299-a2a8-c58fc3fc1c38/storage_v2/_src_/schema/main.uQUzAA.meta
.idea/dataSources.xml
*.xml
/.vscode
.idea/listings2024.iml
.phpstorm.meta.php
_ide_helper.php
.php-cs-fixer.cache
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/Listings2024.iml
composer.lock
